#ComparePriceSpg{
	background-color: #fcfcfc;
	margin-left:  1200px;
	position: absolute;
	width: 720px;
	height: 100%;
    padding: 100px 43px;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px #232323;
}

#ComparePriceSpg_header{
    width:100%;
    height:53px;
    line-height:43px;
    text-align: center;
    font-size:43px;
    border-radius: 2px;
    box-sizing: border-box;
    border-bottom: 1px;
    border-style: solid;
}



/*상품 하나가 차지하는 공간*/
.recommended_product {
    position: relative;
    
    /*width: 720px;*/
  
    box-sizing: border-box;
    margin-top: 40px;
    /*border: 1px solid #989898;*/
    /*background-color:#fffbf0;*/
    overflow: hidden;
    text-align:center;
}

.recommended_product > .recommended_imgArea{
    width: 540px;
    height: 275px;
    /*box-sizing: border-box;*/
    margin: 0px 47px;
    border-radius: 2px;

    overflow: hidden;
}
/*사진 크기*/
#ComparePriceSpg_body > .recommended_product > .recommended_imgArea > img {
    position: relative;
    top:-132px;
    width: 540px;
}
.recommended_product > .recommended_imgArea div{
    position:absolute;
    top:0;
    left:47;
    width:540px;
    height: 275px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.5)); /* Standard syntax */
}
/*방송 시간*/
.recommended_product > .recommended_productDay{
    width: 100%;
    margin-top: 40px;
    font-size: 29px;
    text-align: center;
}
.recommended_product > .recommended_productTime {
    box-sizing: border-box;
    width: 100%;
    font-size: 36px;
    text-align: center;
}

.recommended_product > .recommended_productInfoArea {
    width: 100%;
    
}


.recommended_product > .recommended_productInfoArea div {
    
}

.recommended_product > .recommended_productInfoArea > .recommended_productName {
    width: 100%;
    height: 70px;
    margin-top: 20px;
    font-size: 31px;
    overflow: hidden;
}

.recommended_product > .recommended_productInfoArea > .recommended_productPrice {
    text-align: right;
    font-size: 58px; 
    margin-top: 45px;    
    letter-spacing: 3px;
}

.recommended_product > .recommended_productInfoArea > .recommended_productPrice > p{
    font-size: 31px;    
}

#ComparePriceSpg_footer{
    box-sizing:border-box;
    position:relative;
    width:720px;
    height:122px;
}

#ComparePriceSpg_footer > div{
    position:absolute;
    top:54px;
    width:215px;
    height:84px;
    line-height:84px;
    text-align:center;
    font-size:40px;
    color:black;
    background-color:#989898;
    margin: 0px 208px; /* (720-86-215)/2*/

}


#ComparePriceSpg_footer>div.focus{
    background-color:#ce534d;
    color: white;
}