#DetailInfoSpg{
	background-color: white;
	margin-left:  1200px;
	position: absolute;
	width: 720px;
	height: 100%;
}

/*상세정보 이미지를 지정하는 부분*/
#detailImg{
    width:720px;
}

#reserveButton{
    box-sizing:border-box;
    width:480px;
    height:200px;
    position:relative;
}

#reserveButton > div{
    position:absolute;
    top:30px;
    left:140px;
    width:200px;
    height:100px;
    line-height:100px;
    text-align:center;
    font-size:1.5em;
    color:black;
    border:1px solid black;

}

#reserveButton>div.focus{
    background-color:#001367;
    color:white;
}

#reserveButton>div.focus{
    border: 6px solid #c409d2;
}

#detailImage{
    border-top:1px solid black;
    width:720px;
    /*height:880px;*/
    
    overflow:hidden;/*스크롤 구현을 위해 반드시 있어야 함*/
}

#detailImage>img{
    
}

#detailImage.foucs{
    border: 6px solid #c409d2;
}
