#DetailInfoSpg{
	background-color: white;
	margin-left:  1198px;
	position: absolute;
	width: 720px;
	height: 1078px;
    border:1px solid black;
    border-radius:2px;
}

#reserveButton{
    box-sizing:border-box;
    width:720px;
    height:122px;
    position:relative;
}

#reserveButton > div{
    position:absolute;
    top:30px;
    left:235px;
    width:250px;
    height:62px;
    line-height:62px;
    text-align:center;
    font-size:30px;
    color:white;
    background-color:#989898;
}

#reserveButton>div.focus{
    background-color:#5ccece;
    color:black;
}

#detailImage{
    width:720px;
}

#detailImage>div{
    box-sizing:border-box;
    width:710px;
    overflow:hidden;
    /*어디서 뜨는 상세보기인지에 따라
        높이와 margin속성이 달라진다.
    */
}

#detailImage img{
    width:710px;
}
/* 서브페이즈 화살표 css*/
#arrow1 {
    position: absolute;
}
.arrow {
    width:  180px;
    height: 60px;
    position: relative;
    display: none;
}
#arrow_up{
    margin-top: 125px;
    margin-left: 1470px;
}
#arrow_down{
    margin-top: 835px;
    margin-left: 1470px;
}

