#DetailInfoSpg{
	background-color: white;
	margin-left:  1200px;
	position: absolute;
	width: 720px;
	height: 100%;
}

/*»ó¼¼Á¤º¸ ÀÌ¹ÌÁö¸¦ ÁöÁ¤ÇÏ´Â ºÎºÐ*/
#detailImg{
    width:720px;
}

#reserveButton{
    box-sizing:border-box;
    width:720px;
    height:200px;
    position:relative;
}

#reserveButton > div{
    position:absolute;
    top:30px;
    left:260px;
    width:200px;
    height:100px;
    line-height:100px;
    text-align:center;
    font-size:1.5em;
    color:black;
    background-color:#b7b7a4;

}

#reserveButton>div.focus{
    background-color:#001367;
    color:white;
}

#detailImage{
    width:720px;
    overflow:hidden;/*½ºÅ©·Ñ ±¸ÇöÀ» À§ÇØ ¹Ýµå½Ã ÀÖ¾î¾ß ÇÔ*/
}

#detailImage>img{
    
}
/* 서브페이즈 화살표 css*/
#arrow1 {
    position: absolute;
}
.arrow {
    width:  180px;
    height: 60px;
    position: relative;
    display: none;
}
#arrow_up{
    margin-top: 200px;
    margin-left: 1470px;
}
#arrow_down{
    margin-top: 760px;
    margin-left: 1470px;
}

