*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	position: absolute;
	
}


ul {
	list-style: none;
}

#sideBar {
	float: left;
	width: 116px;
	height: 100%;
	position: absolute;
	background-color: #232323;
	/*background-color: #f0f0d8;*/
}


#sideBar ul {
	margin-top: 270px;
}

#sideBar ul > li{
	width:116px;
	height: 116px;
	box-sizing : border-box;
	margin : 10px 0px 9px 0px;
	text-align: center;
	line-height: 116px;
	font-size: 66px;
	color:#585858;
}

#sideBar ul > li.focus{
	color:#5ccece;
 	font-weight: bold;	
}

#sideBar ul > li.select{
	color:#ce534d;
}
/*#sideBar ul li:first-child{
	height: 280px;
	color:white;
}
*/
/*.sideBarMenu div{
	float: left;
	position: relative;
}*/
/*
.sideBarMenuText {
	margin-left:10px;
	width: 300px;
	height: 130px;
	text-align: left;
	line-height: 130px;
	font-size: 35px;
}*/

#article {
	position: absolute;

	left: 116px;
	top:0px;	
}

#player{
	position:absolute;
	left: 116px;
	top:0;
	opacity:0;
}


/* popup CSS*/
#popup {
	
}

#popupMessage {
	box-sizing:border-box;
	width:  800px;
	height: 450px;
	position: relative;
	
	margin-top: 300px;
	margin-left: 630px;
	display: none;
	padding: 100px;
	
	text-align: center;
	font-style: bold;
	font-size: 50px;
	color: white;
	letter-spacing: 5px;
	
	background-color: #232323;

	border: 10px solid #5ccece;
	border-radius: 20px;
}
#popupMessageButton{
	box-sizing:border-box;
	width:  800px;
	height: 450px;
	position: relative;
	
	margin-top: 300px;
	margin-left: 630px;
	display: none;
	padding: 100px;
	
	text-align: center;
	font-style: bold;
	font-size: 50px;
	color: white;
	letter-spacing: 5px;
	
	background-color: #232323;

	border: 10px solid #ce534d;
	border-radius: 20px;
}
.popupBtn{
	float: left;
	display: inline-block;
	background-color: #585858;
}
#popupBtn1{
	box-sizing:border-box;
	float: left;
	display: inline;
	position: relative;
	width: 200px;
	height: 80px;
	
	
	/*border-radius: 5px;*/
	padding: 10px;
	color: white;
	
	margin-top: 60px;
	margin-left: 50px;
}
#popupBtn2{
	box-sizing:border-box;
	float: left;
	display: inline;
	position: relative;
	width: 200px;
	height: 80px;
	
	/*border-radius: 5px;*/
	padding: 10px;
	color: white;
	margin-top: 60px;
	margin-left: 100px;
}

.popupBtn.focus{
	background-color: #5ccece;
	color: black;
}

#popupAdjust {
	box-sizing:border-box;
	width:  480px;
	height: 227px;
	position: absolute;
	
	margin-top: 20px;
	margin-left: 1420px;
	display: none;
	overflow: hidden;
}
#adjustImg {
	width: 100%;
	height: 177px;
	border: none;
}
#adjustFooter {
	width: 480px;
	height: 50px;
	border: none;

	background-color: black;
	color: white;
	font-size: 25px;
	padding-left: 20px;
}
#adjustFooter div {
	height: 100px;
	display: inline;
}
#adjustFooter div img {
	width: 70px;
	height: 50px;
}

#popupAdjustFull {
	box-sizing:border-box;
	width:  1920px;
	height: 1080px;
	position: absolute;
	
	margin-top: 0px;
	margin-left: 0px;
	display: none;
	overflow: hidden;
}