*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	position: absolute;
	
}


ul {
	list-style: none;
}

#sideBar {
	float: left;
	width: 116px;
	height: 100%;
	position: absolute;
	background-color: #232323;
	/*background-color: #f0f0d8;*/
}


#sideBar ul {
	margin-top: 270px;
}

#sideBar ul > li{
	width:116px;
	height: 116px;
	box-sizing : border-box;
	margin : 10px 0px 9px 0px;
	text-align: center;
	line-height: 116px;
	font-size: 66px;
	color:#585858;
}

#sideBar ul > li.focus{
	color:#5ccece;
 	font-weight: bold;	
}

#sideBar ul > li.select{
	color:#ce534d;
}
/*#sideBar ul li:first-child{
	height: 280px;
	color:white;
}
*/
/*.sideBarMenu div{
	float: left;
	position: relative;
}*/
/*
.sideBarMenuText {
	margin-left:10px;
	width: 300px;
	height: 130px;
	text-align: left;
	line-height: 130px;
	font-size: 35px;
}*/

#article {
	position: absolute;

	left: 116px;
	top:0px;	
}

#player{
	position:absolute;
	left: 116px;
	top:0;
}


