*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	width: 1920px;
	height: 1080px;
	overflow: hidden;	
}
#sideBar {
	float: left;
	width: 360px;
	height: 100%;
	position: absolute;
	background-color: #a6caf0;
}
#sideBar ul li {
	height: 120px;
	font-size: 20px;
}
#sideBar.focus{
	color: red;
}

#sideBar > ul li.focus { 
 	border: 15px solid #c409d2;
}