
#MultiWatchPg{
	height: 2000px;
	position: absolute;
	background-color: #e4e3e3;

	/*background-color: #fffbf0;*/
}
#mainImage {
	width: 1790px;
	height: 669px;

}

#main1 {
	float: left;
	display: inline-block;
	width: 1204px;
	height: 100%;
	background-image: url("../../img/main1.PNG");
}

#main2 {
	float: right;
	display: inline-block;
	width: 586px;
	height: 100%;
	
}
#main2Header{
	box-sizing:border-box;	
	height: 83px;
	text-align: center;
	font-size: 33px;
	padding: 25px;
}
#adjust{
	width: 589px;
	height: 589px;
	background-image: url("../../img/main2_0.PNG");
}
#adfocusImg{
	width: 589px;
	height: 589px;
	position: relative;
	
	margin-top: -589px;
	margin-left: 0px;
	display: none;
}
#MultiWatchPg_btn1{
	margin-top: 535px;
	margin-left: 920px;
	
}
#MultiWatchPg_btn2{
	position: absolute;
	margin-top: 452px;
	margin-left: 200px;
}

.button {
	width: 180px;
	height: 25px;
	font-size: 25px;
	background-color: white;
	text-align: center;
	padding: 15px;
}
/*화면 중간 스마트 홈쇼핑 문구*/
#mainTitle {
	box-sizing:border-box;
	width: 425px;
	height: 60px;
	padding: 14px;
	margin: 20px 0 20px 40px;
	background-color: #ce534d;
	color: white;
	font-size: 32px; 
	text-indent: 20px;
}

#mainItem {
	background-color: white;
}

#mainItem ul li {
	float: left;
	position: relative;
	width: 541px;
	height: 270px;
	margin-bottom: 20px;
	margin-left: 40px;
}

.MultiWatchPgItem div{
	float: left;
	position: relative;
	display: inline-block;
}
.imgArea {
	width: 270px;
	height: 270px;
	margin-left: 9px;
	background-color: white;
}
.imgArea img {
	width: 270px;

}
.productInfoArea {
	width: 262px;
	height: 270px;
	box-sizing : border-box;
	padding:10px;
}
.productInfoArea > div{
	box-sizing: border-box;

	display: block;
	position: relative;
	width: 242px;
	color: white;
}
.endTime {
	height: 85px;
	font-size: 26px;
	border-bottom: solid #ffffff;
	text-align: center;
	padding:10px;	

}
.remainedTime{
	color: purple;
	font-size: 30px;
}
.name {	
	padding: 10px;
	height: 94px;
	overflow: hidden;
	font-weight: bold;
	font-size: 24px;
}
.price {
	height: 85px;
	font-size: 18px;
	border-bottom: solid #ffffff;
	text-align: right;
	padding:10px;
}

.productPrice {
	font-size: 30px;
}

.focusImg {
	width: 541px;
	height: 270px;
	position: relative;
	/*background-image: url("../../img/moviefocus.PNG");*/
	opacity: 0.6;
	margin-top: -269px;
	margin-left: 1px;
	display: none;
}

.MultiWatchPgElem.focus { 
	background-color: #5ccece;
 	/*background-color: #001367;*/
	color: black;
 }
