
#MultiWatchPg{
	height: 2000px;
	position: absolute;
	background-color: #fffbf0;
}
#mainImage {
	width: 1790px;
	height: 669px;

}

#main1 {
	float: left;
	display: inline-block;
	width: 1204px;
	height: 100%;
	background-image: url("../../img/main1.PNG");
}

#main2 {
	float: right;
	display: inline-block;
	width: 586px;
	height: 100%;
	
}
#main2Header{
	height: 82px;
	text-align: center;
	line-height: 80px;
	font-size: 200%;
}
#adjust{
	width: 589px;
	height: 589px;
	background-image: url("../../img/main2_0.PNG");
}
#adfocusImg{
	width: 589px;
	height: 589px;
	position: relative;
	
	margin-top: -589px;
	margin-left: 0px;
	display: none;
}
#MultiWatchPg_btn1{
	margin-top: 535px;
	margin-left: 910px;
	
}
#MultiWatchPg_btn2{
	position: absolute;
	margin-top: 457px;
	margin-left: 189px;
}

#mainImage div button {
	width: 208px;
	height: 68px;
	font-size: 25px;

}
#mainTitle {
	width: 425px;
	height: 55px;
	margin: 4px 0 4px 44px;
	background-color: #ff4916;
	color: #fafafa;
	font-size: 33px; 
	line-height: 200%;
	text-indent: 10px;
}

#maintTitle div {
	margin-left: 10px;
}
#mainItem {
	background-color: white;
}
#mainItem ul {
	list-style: none;
}
#mainItem ul li {
	float: left;
	position: relative;
	width: 541px;
	height: 270px;
	margin-bottom: 41px;
	margin-left: 41px;
}

.MultiWatchPgItem div{
	float: left;
	position: relative;
	display: inline-block;
}
.imgArea {
	width: 270px;
	height: 270px;
	margin-left: 9px;
	background-color: white;
}
.imgArea img {
	width: 270px;

}
.productInfoArea {
	width: 255px;
	height: 270px;
	border: 0;
}
.productInfoArea div{
	display: block;
	position: relative;
	width: 255px;
	color: white;
	text-align: center;
}
.endTime {
	height: 86px;
	font-size: 140%;
	border-bottom: solid #ffffff;
}
.remainedTime{
	color: purple;
	font-size: 150%;
}
.name {
	height: 100px;
	overflow: hidden;
	font-weight: bold;
	font-size: 150%;
}
.price {
	height: 85px;
	font-size: 140%;
}
.price p {
	text-align: right;
}
.productprice {
	font-size: 140%;
}

.focusImg {
	width: 541px;
	height: 270px;
	position: relative;
	/*background-image: url("../../img/moviefocus.PNG");*/
	opacity: 0.6;
	margin-top: -269px;
	margin-left: 1px;
	display: none;
}

.MultiWatchPgElem.focus { 
 	background-color: #001367;
	color: white;
 }
