#MyPg{
	width: 1790px;
    height: 1080px;
    background-color: white;

}

.MyPg_menu{
	width:33%;
	height: 1080px;
	border-left: 1px solid #b7b7a4;
	display:inline-block;		
}

.MyPg_header{
    width: 100%;
    height: 10%;
    text-align:center;
    font-size:1.5em;
    border-bottom:1px solid black;
}

.MyPg_list{
	width: 100%;
	height: 80%;	
}

.MyPg_button{
	width: 100%;
	height: 10%;
	background-color:black;
}

#MyPg_SelectNumber_list{
    width: 100%;
}
#MyPg_SelectNumber_list_already>div{

    position:relative;
    width:500px;
    height:100px;
    box-sizing:border-box;

/*    margin-left:47px;
    margin-top:40px;*/

    border:1px solid black;

    font-size:1.5em;
    text-align:center;
}

#MyPg_SelectNumber_list_already>div>.number_left{
    
    position:absolute;

    width:100px;
    height:100px;
    line-height:100px;

    left:0px;
}
#MyPg_SelectNumber_list_already>div>.number_right{
    position:absolute;

    width:400px;
    height:100px;
    line-height:100px;

    left:100px;
    border-left:1px solid black;
}
#MyPg_SelectNumber_list_already>div.focus{
    border: 6px solid #c409d2;
}

#MyPg_SelectNumber_list_new{
    position:relative;
    width: 100%;
    box-sizing:border-box;
    margin-top:50px;
}

#MyPg_SelectNumber_list_new>div{
    margin-left:47px;
    margin-top:40px;
}


#MyPg_SelectNumber_list_new>div:nth-child(1){
    /*'번호 추가' 버튼*/
    /*position:absolute;
    left:90px;*/
    width:500px;
    height:60px;
    line-height:60px;
    text-align:center;
    font-size:1.5em;
    border:1px solid black;
}
#MyPg_SelectNumber_list_new>div:nth-child(2){
    /*'새로운 번호' 입력 란*/
    width:500px;
    height:80px;
    box-sizing:border-box;
    padding-top:5px;
    text-align:center;
    font-size:1.5em;
    border:1px solid black;
}


#MyPg_SelectNumber_list_new>div:nth-child(3){
    /*'인증 번호' 입력 란*/
    width:500px;
    height:80px;
    line-height:60px;
    text-align:center;
    font-size:1.5em;
    border:1px solid black;
}


#MyPg_SelectNumber_list_new>div.focus{
    border: 6px solid #c409d2;
}



#MyPg_SelectNumber_submit{
    width:70%;
    height:80%;
    /*font-size:10px;*/
    text-align:center;

    background-color: blue;
}

#MyPg_SelectNumber_submit>div.focus{
    border: 6px solid #c409d2;
}
