#MyPg{
	width: 1800px;
    height: 1080px;
    background-color: white;
    position: absolute;
    background-color: #e4e3e3;
}

.MyPg_menu{
    box-sizing: border-box;
	width:597px;
	height: 1080px;
	border-right: 1px solid #585858;
	display:inline-block;		
}

.MyPg_header{
    text-align:center;
    font-size: 34px;
    box-sizing: border-box;
    margin: 0 25px 45px 25px;
    padding: 72px 0 5px 0;
    border-bottom: 1px solid #585858;
}

.MyPg_list{
	width: 100%;
	height: 780px;
    text-align:center;
    box-sizing: border-box;
    padding: 5px 30px;   
}

.MyPg_bottom{
    box-sizing: border-box;

    padding: 20px 30px 0px 30px;
	width: 100%;
}

.MyPg_button{
	width: 540px;
    height: 62px;
    box-sizing:border-box;
    line-height: 62px;
    background-color:#989898;
    color:white;
    font-size:36px;
    border-radius: 2px; 

    /*font-size:10px;*/
    text-align:center;
}

.MyPg_list_Item{
    box-sizing:border-box;
    line-height: 62px;
    width: 540px;
    height:62px;
    background-color:#989898;
    font-size:36px;
    margin-bottom: 12px; 
    border-radius: 2px; 

}

/*/////////////////////////////////
/////// SMS Alarm 관련 css /////////
/////////////////////////////////*/
#MyPg_SMSAlarm_list > ul li{
    z-index: 0;
    list-style: none;
    width : 540px;
    height: 160px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;

    /*position: relative;  */
}

.SMSAlarm_list div{
    float: left;
    position: relative;
    display: inline-block;
}

.MyPg_imgArea {
    width: 160px;
    height: 160px;
    
    background-color: white;
}
.MyPg_imgArea img {
    width: 160px;

}
.MyPg_productInfoArea {
    width: 380px;
    height: 160px;
}
.MyPg_productInfoArea div{
    display: block;
    position: relative;
    width:380px;

}
.MyPg_name {
    box-sizing: border-box;
    padding: 12px 20px 12px 20px;
    height: 72px;
    overflow: hidden;
    font-size: 24px;
    text-align: left;
}
.MyPg_price {
      box-sizing: border-box;
    padding: 6px 20px 12px 20px;  
    height: 69px;
    font-size: 24px;
    text-align: right;   
}
.MyPg_productPrice {
    font-size: 40px;
}

/*
#MyPg_CategoryAlarm_list > div{
    box-sizing:border-box;
    padding: 17px;    
	width : 500px;
	height: 40px;
	text-align: center;
}


#MyPg_SelectNumber_list_already>div{

    position:relative;
    width:500px;
    height:100px;
    box-sizing:border-box;

    font-size:1.5em;
    text-align:center;
    line-height:100px;
    background-color: #b7b7a4;
}*/

#MyPg_SelectNumber_list_new{
   width:100%;
    text-align:center;
    margin-top:50px;
}

#MyPg_SelectNumber_list_new>div{
    box-sizing:border-box;
    line-height: 66px;
    width:540px;
    height:66px;
    font-size:36px;
    margin-bottom: 20px;
    border-radius: 2px;
    color: white;
}


#MyPg_SelectNumber_list_new>div:nth-child(1){
    /*'번호 추가' 버튼*/
    /*position:absolute;
    left:90px;*/
    background-color:#585858;
}

#MyPg_SelectNumber_list_new>div:nth-child(2){
    /*'새로운 번호' 입력 란*/
    background-color:#e4e3e3;
    border: 2px solid #989898;
    color:white;
}


#MyPg_SelectNumber_list_new>div:nth-child(3){
    /*'인증 번호' 입력 란*/
    background-color:#e4e3e3;
    border: 2px solid #989898;
    color:white;
}

#MyPg_SelectNumber_list_new>div.focus{
    background-color:rgba(206,83,77,1.0);
    color:white;
}


/*/////////////////////////////////
///////    focus css      /////////
/////////////////////////////////*/
.MyPg_menu.focus{
    background-color: white;
}
.MyPgItem{
    background-color: #989898;
    color : white;

}

.MyPgItem.focus{
    background-color: rgba(206,83,77,1.0);
    color:white;

}

.MyPgItem.select{
    background-color: rgba(206,83,77,0.6);
    color: white;
}

.MyPg_button.focus{
    background-color: rgba(206,83,77,1.0);
    color:white;

}

.MyPg_button.focus_{
    background-color: #585858;
    color: white;
}

