/* popup CSS*/
#popup {
}

#popupMessage {

	box-sizing:border-box;
	width:  600px;
	height: 320px;
	position: relative;
	
	margin-top: 384px;
	margin-left: 706px;
	display: none;
	padding: 100px 72px;
	
	text-align: center;
	font-style: bold;
	font-size: 40px;
	line-height: 60px;

	color: white;
	letter-spacing: 5px;
	
	background-color: #232323;
	border-radius: 2px;
}
#popupMessageButton{
	box-sizing:border-box;
	width:  600px;
	height: 320px;
	position: relative;
	
	margin-top: 384px;
	margin-left: 706px;
	display: none;
	padding: 35px 72px;
	
	text-align: center;
	font-style: bold;
	font-size: 40px;
	line-height: 60px;
	color: white;
	letter-spacing: 5px;
	
	background-color: #232323;
	border-radius: 2px;
}
.popupBtn{
	float: left;
	display: inline-block;
	background-color: #585858;

	line-height: 75px;
	text-align: center;
	font-size: 40px;
	color: white;
}
#popupBtn1{
	box-sizing:border-box;
	float: left;
	display: inline;
	position: relative;
	margin-top: 45px;
	
	width: 200px;
	height: 75px;
	
	border-radius: 2px;

}
#popupBtn2{
	box-sizing:border-box;
	float: left;
	display: inline;
	position: relative;
	margin-top: 45px;
	margin-left: 56px;
	width: 200px;
	height: 75px;
	border-radius: 2px;

}

.popupBtn.focus{
	background-color: #ce534d;
	color: black;
}

#popupAdjust {
    box-sizing: border-box;
    width: 480px;
    height: 227px;
    position: absolute;
    margin-top: 20px;
    margin-left: 1420px;
    display: none;
    overflow: hidden;
}

#adjustImg {
    width: 100%;
    height: 177px;
    border: none;
}

#adjustFooter {
    width: 480px;
    height: 50px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px;
}

    #adjustFooter div {
        display: inline;
    }

#adjustFooterButton {
    width: 50px;
    height: 30px;
    background-color: red;
    margin-right: 10px;
}

#popupAdjustFull {
    box-sizing: border-box;
    width: 1920px;
    height: 1080px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    display: none;
    overflow: hidden;
}

/*ÀÌ¼ö´Ù È¨¼îÇÎ¿¡¼­ Áß°£ Áß°£ ¶ß´Â ÆË¾÷*/
#popupISUDA {
    box-sizing: border-box;
    width: 720px;
    height: 207px;
    position: absolute;

    left:1200px;
    display: none;
    overflow: hidden;
    color: white;
    background-color: rgba(0,0,0,0.6);

}
    /*ÆË¾÷ ¸Þ¼¼Áö*/
    #popupISUDA > div:nth-child(1) {
        box-sizing:border-box;
        padding-top:30px;
        width: 720px;
        height: 130px;
        font-size: 30px;
        text-align: center;

    }
    /*ÆË¾÷ ¹öÆ°*/
    #popupISUDA > div:nth-child(2) {
        width: 720px;
        height:77px;
        font-size:25px;
        overflow:hidden;
    }

    #popupISUDA .ISUDAButton{
        float:left;
        box-sizing:border-box;
        height: 77px;
        line-height:77px;
        text-align:center;
        margin-bottom:20px;
    }

    #popupISUDA .ISUDAButton.focus{
        background-color:#ce534d;
        color:white;
    }
