#SelectWatchPg{
	position: absolute;
}
#SelectWatchPgMenu {
    opacity:0;
	float: left;
	
	width: 168px;
	height: 1080px;
}

#SelectWatchPgMenu.show{
    opacity:1;

}

#SelectWatchPgMenu ul li {
	box-sizing:border-box;
	margin:25px 25px 25px 25px;
	padding:20px 20px 20px 20px;
	width: 118px;
	height: 118px;
	font-size: 30px;
	text-align: center;
	/*background-color: #b7b7a4;*/
	background-color: #989898;
	color: white;
}
#SelectWatchPgMenu ul li:first-child {
	margin-top: 260px;

}

#SelectWatchPg.focus{
	
}
#SelectWatchPgMenu ul li.focus { 
 	/*background-color: #001367;*/
 	background-color: #5ccece;
 	color: black;
}
#SelectWatchPgMenu ul li.select { 
 	/*background-color: #ff4916;*/
 	background-color: #ce534d;
 	color: white;	
}


/*#subPage{
	width: 480px;
	height: 100%;
	margin-left: 1920px;
}
*/
