/*#SelectWatchPg{
	position: absolute;
}*/
#SelectWatchPgMenu {
	position:absolute;
    opacity:0;
	float: left;
	
	width: 300px;
	height: 1080px;
	background: linear-gradient(to bottom, rgba(66,66,66,0.3) 0%,rgba(0,0,0,0.8) 50%,rgba(66,66,66,0.3) 100%); /* W3C */
}

#SelectWatchPgMenu.show{
    opacity:1;

}

#SelectWatchPgMenu ul li {
	box-sizing:border-box;
	margin:25px 13px;
	width: 108px;
	height: 108px;
	font-size: 30px;
	padding: 17px;
	text-align: center;
	/*background-color: #b7b7a4;*/
	background-color: #585858;
	color: white;
	border-radius: 50%;
    box-shadow: 0px 0px 15px black;
}

#SelectWatchPgMenu ul li:first-child {
	margin-top: 270px;
}

#SelectWatchPg.focus{
	
}

#SelectWatchPgMenu ul li.focus { 
 	/*background-color: #001367;*/
 	background-color: #5ccece;
 	color: black;
}
#SelectWatchPgMenu ul li.select { 
 	/*background-color: #ff4916;*/
 	background-color: #ce534d;
 	color: white;	
}

#ChannelHelper{
	box-sizing : border-box;
	position:absolute;
	top : 824px;
	width:411px;
	height: 135px;
	margin: 14px 13px;
/*	background-color: #585858;*/
	background: linear-gradient(to right, rgba(0,0,0,1.0), rgba(0,0,0,0.0)); /* Standard syntax */
	padding: 5px;
	opacity: 0;


}

.Channel {
	margin-left: 20px;
	font-size: 30px;
	color:white;
}

#NowChannel {
	margin-left: 10px;
	font-size: 45px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
#ChannelHelper{
}

#ChannelHelper.show{
	opacity: 1;
}


/*
#ChannelUp{
	position:absolute;
	top:135px;	
}

#ChannelDown{
	position:absolute;
	top:810px;
}

.ChannelHelper {
	opacity: 0;
	width:266px;
	height: 135px;
	margin-left: 13px;
}

.ChannelHelper.show{
	opacity: 1;
}
.ChannelHelper div{
	float: left;
	position: relative;
	display: inline-block;

}

.SimgArea {
	width: 135px;
	height: 135px;
	background-color: white;
}

.SimgArea img {
	width: 135px;
}

.SproductInfoArea {
	width: 135px;
	height: 135px;
	box-sizing : border-box;
}

.SproductInfoArea > div{
	box-sizing: border-box;

	display: block;
	position: relative;
	width: 135px;
	color: white;
	text-align: center;

}

.Sprovider{
	padding-top: 15px;
	font-size: 23px;
	height: 33px;
	font-weight: bold;
}

.Sname {	
	padding : 15px 5px;
	height: 117px;
	overflow: hidden;
	font-size: 20px;
}*/

/*458 158*/


/*#subPage{
	width: 480px;
	height: 100%;
	margin-left: 1920px;
}
*/
