#TVSchedulePg{
	position: absolute;
	/*background-color: #fffbf0;*/
    background-color: white;
	width: 1790px;
	height: 1080px;
}

/*대분류 선택창*/
#big {
	float: left;
    box-sizing:border-box;
	width: 130px;
	height: 100%;
	/*background-color: #b7b7a4;*/
    background-color: #232323;
	border-right:1px solid black;
    
    padding-top:10px;
    padding-bottom:10px;
}

/* 중분류 선택창 */
#mid {
	float: left;
    box-sizing:border-box;
	width: 110px;
	height: 100%;
	/*background-color: #b7b7a4;*/
    background-color: #232323;  
    border-right:1px solid black;

    padding-top : 130px;
    padding-bottom:130px;
}


#big ul li {
    box-sizing:border-box;
	width: 120px;
	height: 90px;
    margin:5px;
    padding-top:30px;
    padding-bottom:30px;
  /*   line-height:100px; */
   text-align:center; 
	/*background-color: #f0f0d8;*/
    background-color: #989898;
    font-size:1.1em;
    color: white;
}

#mid>div{
    width:110px;
    height:820px;
    overflow:hidden;
}
#mid ul li {
    box-sizing:border-box;
	width: 94px;
	height: 93px;
    margin:8px;
    padding-top:15px;
   /* line-height:100px; */
    text-align:center; 
    font-size:1.1em;
	/*background-color: #f0f0d8;*/
    background-color: #989898;
    color: white;
}
/* focus */
#big.focus{
	color: #989898;
}

#big > ul li.focus { 
 	/*background-color:#001367;*/
    background-color:#5ccece;
    color: black;
}

#mid > div> ul li.focus { 
 	/*background-color:#001367;*/
    background-color:#5ccece;
    color: black;
}
 /* select*/
#big > ul li.select { 
    /*background-color:#001367;*/
    background-color:#ce534d;
    color: white;
}

#mid > div> ul li.select { 
    /*background-color:#001367;*/
    background-color:#ce534d;
    color: white;
}

/* 선택된 중분류에 대해, 상품을 가져오는 부분*/

#product{
    position:absolute;
    left:-130px;
    top:0px;

    /*transition-duration:0.3s;*/
}

#product > div{
    box-sizing:border-box;
}

/*중분류예약 들어가는 부분*/
#product_header{
    position:absolute;
    width:1550px;
    height:118px;

    top:0px;
    left:370px;

/*    background-color:white;  */
}

#product_nav{
       position:absolute;
       width:1550px;
       height:86px;
       line-height:86px;

       top:118px;
       left:370px;

/*       background-color:white;  */
       border-top:1px solid black;
       border-bottom:1px solid black;
       text-align:center;
       font-size:2em;
}

#product_list_pg{
    position:absolute;
    width:1550px;
    height:876px;

    top:204px;
    left:370px;

    box-sizing:border-box;
    padding:31px;
/*    background-color:green;  */
}
    

#product>#product_header>#reserve_Category{
    position:absolute;

    width:400px;
    height:68px;
    line-height:68px;

    right:50px;
    top:25px;

    font-size:2em;
    text-align:center;
    /*background-color:#b7b7a4;*/
    background-color: #989898;
    color: white;
}
#product>#product_header>#reserve_Category.focus{
    /*background-color:#001367;*/
    background-color:#5ccece;
   /* color:white;*/
    color: black;
}
#product>#product_header>div:nth-child(2){
    position:absolute;
    width:800px;
    height:60px;
    line-height:60px;
    
    left:50px;
    top:50px;
    
    font-size:1.5em;
    
}

#product_list_pg ul li.focus {
	border: 6px solid #5ccece;
}

/*상품 하나가 차지하는 공간*/
.schedule_product_list_item{
    float:left;
    width:310px;
    height:480px;
    box-sizing:border-box;
    margin:31px;

    text-align:center;
    font-size:1.5em;
    border : 1px solid black;
    border-radius:10px;

    /*background-color:#fffbf0;*/
    background-color: #989898;
    overflow:hidden;
}
.schedule_product_list_item div{
	position: relative;
}
.schedule_product_list_item>.imgArea {
    position:relative;
	width: 310px;
	height: 223px;
	border: 0;
    box-sizing:border-box;

    margin-left:27px;
    margin-right:27px;
    margin-top:7px;
}
/*사진 크기*/
.schedule_product_list_item>.imgArea>img{
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:256px;
}
/*방송 시간*/
.schedule_product_list_item>.schedule_productTime{
    box-sizing:border-box;
    width:256px;
    height:33px;
    background-color:#1c1817;
    color:white;

    margin-left:27px;
    margin-right:27px;
    margin-bottom:7px;

    font-size:0.7em;
    /*z-index:1000;*/
}
.schedule_product_list_item>.schedule_productInfoArea {
	width: 310px;
	height: 210px;
	border: 0;
}
.schedule_product_list_item>.schedule_productInfoArea div{
	display: block;
	position: relative;
	width: 310px;
	border: 0;
	background-color:#fffbf0;
    border-top:1px solid black;
    
    box-sizing:border-box;
    padding:15px;
}
.schedule_productTime {
	height:33px;
}
.schedule_product_list_item>.schedule_productInfoArea>.schedule_productName {
    width:310px;
	height: 105px;
}
.schedule_product_list_item>.schedule_productInfoArea>.schedule_productPrice {
    width:310px;
	height: 105px;
    
}
